<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title %></title>
</head>
<body>
    <main>
        <h1><%= header %></h1>
        <form action="<%= action %>" method="POST">
            <div>
                <p>
                    <label htmlFor="name">Name:</label>
                    <input type="text" name="name" id="name" value="<%= name.value %>" <%=name.readonly%>/>
                </p>

                <p>
                    <label htmlFor="age">Age:</label>    
                    <input type="text" name="age" id="age" value="<%= age.value %>" <%=age.readonly%>/>    
                </p>
            </div>
            <button type="submit">Submit</button>
        </form>
        <a href="/"><button>Menu</button></a>
    </main>
</body>
</html>