<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Superheroes</title>
  </head>
  <body>
    <main>
      <h1>All Superheroes</h1>
      <table>
        <thead>
          <tr>
            <th>Hero Id</th>
            <th>Name</th>
            <th>Year of Birth</th>
            <th>Super Property</th>
            <th>Costume</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(superhero=>{%>
          <tr>
            <td><%= superhero.heroId %></td>
            <td><%= superhero.name %></td>
            <td><%= superhero.yearOfBirth %></td>
            <td><%= superhero.superproperty %></td>
            <td><%= superhero.costume %></td>
          </tr>
          <%})%>
        </tbody>
      </table>
      <a href="/"><button>Menu</button></a>
    </main>
  </body>
</html>
