<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Superhero Data</title>
  </head>
  <body>
    <main>
      <h1>Superhero Data</h1>
      <% if(data.message){%>
      <p class="<%= data.type %>"><%= data.message%></p>
      <%}else{%>
      <p>HeroId: <%= data.heroId %></p>
      <p>Name: <%= data.name %></p>
      <p>Year of Birth: <%= data.yearOfBirth %></p>
      <p>Super Property: <%= data.superproperty%></p>
      <p>Costume: <%=data.costume%></p>
      <%}%>
      <a href="/"><button>Menu</button></a>
    </main>
  </body>
</html>
